@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 100px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    background: url('../images/treino.jpg') center/cover;
    height: 400px;
    padding-top: 100px;
    border-radius: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #6b9ab1;
    height: 70px;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 500px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.professor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depoimento {
    flex: 1; /* Para que os cards de depoimentos ocupem o mesmo espaço */
    margin: 20px; /* Adiciona margem entre os cards */
    max-width: 500px; /* Define uma largura máxima para os cards */
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
#cards-depoimentos{
    display: flex;
    flex-direction: row;
}
.banner_headline h1,
h2,
h3,
.info-professor h1,
h2,
h3 {
    text-align: center;
}

.banner_headline,
.info-professor,
.horario, .info-depoimentos {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    opacity: 60%;
}

.info-professor {
    width: 200px;
}

.banner_headline:hover {
    opacity: 100%;
}
#container-horarios{
    margin-top: 150px; /* Adicionando margem superior */
    margin-bottom: 130px;
}
#container-depoimentos{
    margin-top: 100px; /* Adicionando margem superior */
    margin-bottom: 130px;
}
.horario {
    opacity: 1;
    padding: 30px;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}