@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    position: fixed;
    /* Adiciona posição fixa */
    top: 0;
    /* Alinha o cabeçalho no topo */
    left: 0;
    /* Alinha o cabeçalho à esquerda */
    width: 100%;
    /* Define a largura como 100% */
    z-index: 999;
    /* Ajusta o z-index para garantir que fique acima de outros elementos */
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}


.logo {
    height: 50px;
}

ul {
    display: flex;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    justify-content: center;
    background: url('../images/treino.jpg') center/cover;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 50px;
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #6b9ab1;
    height: 70px;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.professor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.depoimento {
    flex: 1;
    margin: 20px;
    max-width: 500px;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.banner_headline h1,
h2,
h3,
.info-professor h1,
h2,
h3 {
    text-align: center;
}

.banner_headline,
.info-professor,
.horario,
.info-depoimentos {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    opacity: 60%;
}

.info-professor {
    width: 200px;
    height: 400px;
}
#marcelinho, #hugao, #richard{
    flex-direction: row-reverse;
}
.banner_headline:hover {
    opacity: 100%;
}

.horario {
    opacity: 1;
    padding: 30px;
    text-align: center;
}
.horario table {
    width: 100%;
    border-collapse: collapse;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

/* Media queries para dispositivos menores */

@media screen and (max-width: 768px) {
    .cabecalho {
        position: static; /* Altera a posição de fixed para static */
        flex-direction: column; /* Altera a direção do flex para column */
        align-items: center; /* Centraliza os itens na vertical */
        height: auto; /* Altura automática */
        padding: 20px 0; /* Adapta o preenchimento */
    }

    .logo {
        margin-bottom: 20px;
/*        position: fixed;
        /* Adiciona posição fixa */
/*        top: 0;
        /* Alinha o cabeçalho no topo */
/*        left: 0;
        /* Alinha o cabeçalho à esquerda */
/*        z-index: 999;*/
    }

    .menu {
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        /* Alteração: Altera o layout para uma lista vertical */
        align-items: center;
        /* Alinha os itens centralmente */
        padding: 0;
        /* Remove o preenchimento padrão */
    }

    nav li {
        margin-bottom: 10px;
        /* Adiciona espaço entre os itens */
    }

    nav a {
        padding: 10px;
        /* Ajusta o preenchimento */
    }

    .banner {
        height: 300px;
    }

    .titulo {
        height: auto;
        margin-bottom: 20px;
    }

    .containers {
        padding: 10px;
    }

    .professor,
    .depoimento {
        margin: 10px;
    }
    #alex, #formiga, #hugao{
        display: flex;
        flex-direction: row;
    }
    #kaique, #marcelinho, #richard{
        display: flex;
        flex-direction: row-reverse;
    }
    .horario table {
        width: 100%;
        border-collapse: collapse;
    }

    .horario table th,
    .horario table td {
        font-size: 12px;
        padding: 8px;
    }
    .horario{
        width: 50%;
    }
}