@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Definindo a famÃ­lia de fontes padrÃĢo */
}

.cabecalho {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;

}

.logo {
    height: 100px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/treino.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    padding-top: 100px;
    border-radius: 10px;
}

.enderecos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    height: 500px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #6b9ab1;
    height: 70px;
}

.card-endereco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner_headline h1,
h2,
h3 {
    text-align: center;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 60%;
    margin: 20px;
}

.banner_headline:hover {
    opacity: 100%;
}

#professor-alex {
    border-radius: 50px;
    opacity: 100%;
}

#professor-alex:hover {
    background-image: url('../images/alex.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 50px;
    opacity: 100%;
}

#professor-kaique {
    border-radius: 50px;
    opacity: 100%;
}

#professor-kaique:hover {
    background-image: url('../images/kaique.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 50px;
    opacity: 100%;
}

#professor-formiga {
    border-radius: 50px;
    opacity: 100%;
}

#professor-formiga:hover {
    background-image: url('../images/formiga.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 50px;
    opacity: 100%;
}

#professor-marcelinho {
    border-radius: 50px;
    opacity: 100%;
}

#professor-marcelinho:hover {
    background-image: url('../images/marcelinho.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 50px;
    opacity: 100%;
}

#professor-hugao {
    border-radius: 50px;
    opacity: 100%;
}

#professor-hugao:hover {
    background-image: url('../images/hugao.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 50px;
    opacity: 100%;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}